html {
	font-family: 'Segoe UI', 'DejaVu Sans', sans-serif; /* 1 */
	font-weight: 300;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
html, body {
	font-weight: 300;
	margin: 0;
	padding: 0;
}
html, body, *, *:before, *:after {
	box-sizing: border-box;
}