@media email {
	.container > tr > td {
		padding: 1rem;
	}
	.button {
		background-color: rgb(33, 153, 232);
		color: #fff;
		padding: 0.5rem 1rem;
		border-radius: 5px;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 0.8rem;
	}
	.container {
		border: solid 1px #ccc;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}